*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

.sidebar li{
    list-style: none;
    display: block;
}

.calendar{
    background-image: url("../Assets/img/CalendarIcon.png");
    width: 50px;
    height: 50px;
}

.patient{
    background-image: url("../Assets/img/PatientIcon.png");
    width: 50px;
    height: 50px;
}

.balance{
    background-image: url("../Assets/img/MoneyIcon.png");
    width: auto;
    height: auto;
}

.settings{
    background-image: url("../Assets/img/SettingsIcon.png");
    width: 50px;
    height: 50px;
}


.sidebarImage {
    width: 50px;
    height: 50px;
}

.Logo{
    margin-bottom:35px ;
}

.CalendarIcon {
margin-bottom: -15px;
}


.patientIcon {
    margin-top: -10px;
    width: 50px;
    height: 50px;
}

.ficha {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 5vw;
    background-color: rgb(196, 196, 196);
}


.header {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 15vh;
    border-bottom: 0.5px solid black;
    align-items: center;
}

.clinicInfo {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clinicName {
    margin-left: 1em;
    font-family: Poppins;
}

.clinicPicture {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}

.employeeInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
}

.employeeName {
    margin-right: 1em;
}

.employeePicture {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

.stepNameHighlight {
    border-bottom: 0.5px solid black;
}

.formInfosPessoais{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    margin-left: 15px;
    margin-top: 20px;
}

.formGroup{
    display: flex;
    margin-bottom: 35px;
}

.formGroup input[type=text]{
    width: 70vw
}

.formGroup input[type=date]{
    margin-right: 5px;
}

.formGroup select{
    width: 140px
}

.btnCancel{
    background-color: #A3A3A3;
    color: #fff;
    border: none;
    height: 50px;
    width: 80px;
    border-radius: 10px;
}

.btnContinue{
    background-color: #6A8795;
    color: #fff;
    border: none;
    height: 50px;
    width: 80px;
    border-radius: 10px;
}

.formGroup label{
    margin-right: 5px;
}


.stepNameHighlight h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fichaFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.progress{
    align-self: center;
}