.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remembermeCheck{
    margin-top: 20px;
}
.remembermeLabel{
    font-family: Poppins;
}
.link{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}