.container {
  width: 120px;
  height: 40px;
  color: black;
  border-width: 0px;
  border-radius: 15px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: #c1c1c1;
  margin-bottom: 10px;
  cursor: pointer;
}
