.sidebar{
    flex-direction: column;
    margin-left: 0px;
    width: 35px;
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.sidebar div{
    background-color: white;
    width: 10px;
    height: 10px;
    justify-content: center;
    margin-left: 10px;
    border-radius: 5px;
}